# MacOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Environment variables
.env

# env files (can opt-in for committing if needed)
.env*
!.env.example
